<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
  {% load static %}
  <link href="{% static 'css/main_nav.css'%}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/postDetail.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/post_add.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/ads.css'%}" type="text/css">

</head>

<body>
  {% block nav %}
  <nav>
    <div class="logo">
      <a href="{% url 'all-posts' %}"><img src="{% static 'icons/logo_trans.png'%}"></a>
    </div>
    <ul class="nav-items">
      <!--
      <li>{% block nav-logo %}<a href="{% url 'all-posts' %}"><img
            src="{% static 'icons/logo_trans.png'%}"></a>{% endblock %}</li>
-->
      <!--  <li>{% block nav-posts %}<a href="{% url 'all-posts' %}">bring me up to date</a>{% endblock %}</li>-->
      {% if user.is_authenticated %}
      <li><a href="{% url 'post-add' %}">upload something</a></li>
      <li><a href="{% url 'home' %}">{{ user.username }}</a></li>
      {% else %}
      <li><a href="{% url 'login' %}">login</a></li>
      {% endif %}
    </ul>

  </nav>
  {% endblock %}
  <main>
  {% block ad %}
      <div class="ad">
        <h2>Advertisement</h2>
      </div>
      {% endblock %}
    {% block content %}
      
    {% endblock %}
  </main>
</body> 

</html>