{% extends "home.html" %}

{% load static %}

{% block title %}All Posts{% endblock title %}
{% block content %}
<h1>All Posts</h1>
<link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css">

{% for post in all_posts %}


<div class="post">
    <div class="pcontent">
        <h3>Post-ID: {{ post.id }}</h3>
        <p class="date">Puplished on: {{ post.timestamp }}</p><br>
        <h4>Tags: tag1, tag2, tag3</h4><br>
        <img src="/../{{ post.image_url }}" alt="TestBild"  width="100">
        <p class="content">{{ post.content }}</p>
    </div>
    <div class="pmenu">
        <p class="vote"><img src="{% static 'icons/vote.png'%}">{{ post.upvotes}}</p>
        <p class="vote"><img src="{% static 'icons/vote.png'%}">{{ post.downvotes}}</p>
    </div>
</div>


{% endfor %}
</table>
{% endblock content %}