@import variables

*
    padding: 0
    margin: 0

nav 
  position: sticky
  top: 0
  right: 0
  display: flex
  justify-content: space-between
  flex-direction: row
  align-items: center
  height: 80px
  background: $color-background-accent
  z-index: 4

ul 
  display: flex
  justify-content: space-around
  flex-direction: row
  align-items: center

.nav-items 
  list-style: none

.nav-items li a 
  text-decoration: none
  color: white
  &:hover
      transition: color 0.2s ease-in-out
      color: $color-main-green
.nav-items li
    list-style: none
    margin-right: 2rem;
   
.logo img 
  height: 50px
  width: auto
  margin-left: 2rem 